{{ form_start(form, {
    action: path('app_event_new'),
    attr: {
        id: 'event_form'
    }
}) }}
{{ form_errors(form) }}
    <div class="d-flex flex-column" style="width: 400px;">
        <div class="mb-1">
            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}
            {{ form_errors(form.title) }}
        </div>
        <div class="mb-1">
            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
            {{ form_errors(form.description) }}
        </div>
        <div class="mb-1">
            {{ form_label(form.location) }}
            {{ form_widget(form.location) }}
            {{ form_errors(form.location) }}
        </div>
        <div class="mb-1">
            {{ form_label(form.startDate) }}
            {{ form_widget(form.startDate) }}
            {{ form_errors(form.startDate) }}
        </div>
        <div class="mb-2">
            {{ form_label(form.endDate) }}
            {{ form_widget(form.endDate) }}
            {{ form_errors(form.endDate) }}
        </div>
        <div class="mb-2">
            {{ form_label(form.category) }}
            {{ form_widget(form.category) }}
            {{ form_errors(form.category) }}
        </div>
        <div class="mb-2">
            {{ form_label(form.tags) }}
{#            {{ form_row(form.tags) }}#}
            {{ form_widget(form.tags) }}
            {{ form_errors(form.tags) }}
        </div>
    </div>
{{ form_end(form) }}
