{% extends 'base.html.twig' %}

{% block title %}Calendar{% endblock %}

{% block body %}
    <div class="container mt-2">
        <div id="calendar" class="calendar-container"></div>
        {# MODAL #}
        {{ include('event/_modal_form.html.twig', { createForm: createForm }) }}
        {{ include('event/_modal_edit.html.twig', { editForm: editForm }) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{#    const EVENTS_URL = "{{ path('app_event_json') }}";#}
    <script type="module" src="{{ asset('js/calendar.js') }}"></script>
{% endblock %}
