{% extends 'base.html.twig' %}

{% block title %}Calendar{% endblock %}

{% block body %}
    <div class="container mt-2">
        <div id="calendar" class="calendar-container"></div>
        {# MODAL #}
        <div class="modal fade" id="eventModal" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered justify-content-center" style="width: 480px;">
                <div class="modal-content auth-card p-3">
                    <h1 class="h3 mb-1 font-weight-normal">Create new event</h1>
                    {{ include('event/_form.html.twig') }}

                    <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Cancel
                        </button>
                        <button type="submit" form="event_form" class="btn btn-success">Save</button>
                    </div>
                </div>
            </div>
        </div>

{#        <div class="d-flex justify-content-center gap-2 mt-2 mb-1">#}
{#            <a href="{{ path('app_event_index') }}" class="btn btn-primary">List view</a>#}
{#            <a href="{{ path('app_event_calendar') }}" class="btn btn-info">Calendar view</a>#}
{#            <a href="{{ path('app_profile') }}" class="btn btn btn-secondary">Settings</a>#}
{#            {% if app.user and 'ROLE_ADMIN' in app.user.roles %}#}
{#                <a href="{{ path('app_admin_users') }}" class="btn btn-primary">Admin panel</a>#}
{#            {% endif %}#}
{#        </div>#}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/calendar.js') }}"></script>
{% endblock %}
