{% extends 'base.html.twig' %}

{% block title %}Events list{% endblock %}

{% block body %}
    <h1>Events list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Location</th>
                <th>Status</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.title }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.startDate ? event.startDate|date('Y-m-d H:i') : '' }}</td>
                <td>{{ event.endDate ? event.endDate|date('Y-m-d H:i') : '-' }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.status }}</td>
                <td>{{ event.category }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}" class="btn btn-primary btn-sm">Show</a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}" class="btn btn-warning btn-sm">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <div class="d-flex justify-content-center gap-2 mt-2 mb-2">#}
{#        <a href="{{ path('app_event_new') }}" class="btn btn-success">Create new</a>#}
{#        <a href="{{ path('app_event_index') }}" class="btn btn-primary">List view</a>#}
{#        <a href="{{ path('app_event_calendar') }}" class="btn btn-info">Calendar view</a>#}
{#        <a href="{{ path('app_profile') }}" class="btn btn-secondary">Settings</a>#}
{#        {% if app.user and 'ROLE_ADMIN' in app.user.roles %}#}
{#            <a href="{{ path('app_admin') }}" class="btn btn-primary">Admin panel</a>#}
{#        {% endif %}#}
{#    </div>#}
{% endblock %}
