{% extends 'base.html.twig' %}

{% block title %}Events list{% endblock %}

{% block body %}

    <h1>Events list</h1>

    <div class="d-flex flex-direction-row align-items-center gap-3">
        <div class="mb-2" style="max-width: 190px;">
            <label for="categoryFilter" class="form-label">Filter by: Category</label>
            <select
                id="categoryFilter"
                class="form-select"
                onchange="location = this.value"
            >
                <option value="{{ path('app_event_index') }}"
                        {% if currentCategory is null %}selected{% endif %}>
                    All
                </option>
                {% for category in categories %}
                    <option value="{{ path('app_event_index', {categoryId: category.id}) }}"
                            {% if currentCategory == category.id %}selected{% endif %}>
                        {{ category.title }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-2" style="max-width: 190px;">
            <label for="tagFilter" class="form-label">Filter by: Tag</label>
            <select
                id="tagFilter"
                class="form-select"
                onchange="location = this.value"
            >
                <option value="{{ path('app_event_index', {
                    categoryId: currentCategory,
                    title: title
                }) }}"
                        {% if currentTag is null %}selected{% endif %}>
                    All
                </option>

                {% for tag in tags %}
                    <option value="{{ path('app_event_index', {
                        categoryId: currentCategory,
                        tagId: tag.id,
                        title: title
                    }) }}"
                            {% if currentTag == tag.id %}selected{% endif %}>
                        #{{ tag.title }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="mb-2">
            <label class="form-label">Search events</label>
            <form method="get" class="d-flex gap-2">
                <input type="text"
                       name="title"
                       value="{{ app.request.get('title') }}"
                       class="form-control"
                       placeholder="Search by title">

                <button class="btn btn-primary">Search</button>

                <a href="{{ path('app_event_index') }}" class="btn btn-secondary">
                    Reset
                </a>

            </form>
        </div>

    </div>


    <table class="table">
        <colgroup>
{#            #}{# ID #}
{#            <col style="width: 5%;">#}
            {# Title #}
            <col style="width: 10%;">
            {# Description #}
            <col style="width: 15%;">
            {# Start Date #}
            <col style="width: 15%;">
            {# End Date #}
            <col style="width: 10%;">
            {# Location #}
            <col style="width: 10%;">
            {# Status #}
            <col style="width: 10%;">
            {# Category #}
            <col style="width: 10%;">
            {# Tag #}
            <col style="width: 10%;">
            {# Actions #}
            <col style="width: 10%;">
        </colgroup>
        <thead>
            <tr>
{#                <th>ID</th>#}
                <th>Title</th>
                <th>Description</th>
                <th>{{ knp_pagination_sortable(pagination, 'Start Date', 'event.startDate') }}</th>
                <th>End Date</th>
                <th>Location</th>
                <th>Status</th>
                <th>Category</th>
                <th>Tags</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in pagination.items %}
            <tr>
{#                <td>{{ event.id }}</td>#}
                <td>{{ event.title }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.startDate ? event.startDate|date('Y-m-d H:i') : '' }}</td>
                <td>{{ event.endDate ? event.endDate|date('Y-m-d H:i') : '-' }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.status }}</td>
                <td>{{ event.category }}</td>
                <td>
                    {% for tag in event.tags %}
                        <span class="badge bg-secondary">
                            #{{ tag.title }}
                        </span>
                    {% else %}
                        -
                    {% endfor %}
                </td>

                {% if app.user %}
                    <td>
                        <button class="btn btn-primary btn-sm edit-event-btn" data-id="{{ event.id }}" type="button" data-bs-toggle="modal" data-bs-target="#editModal">Edit</button>
                        <form
                            method="post"
                            action="{{ path('app_event_delete', {'id': event.id}) }}"
                            style="display:inline;"
                            onsubmit="return confirm('Delete event?');"
                        >
                            <input
                                type="hidden"
                                name="_token"
                                value="{{ csrf_token('delete' ~ event.id) }}"
                            >
                            <button type="submit" class="btn btn-danger btn-sm">
                                Delete
                            </button>
                        </form>
                    </td>
                {% else %}
                    <td>-</td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center navigation mt-1">
        {{ knp_pagination_render(pagination) }}
    </div>

    <div class="d-flex justify-content-center gap-2 mt-2 mb-2">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#eventModal">
            Create new
        </button>
    </div>

    {{ include('event/_modal_form.html.twig', { form: createForm }) }}
    {{ include('event/_modal_edit.html.twig', { form: editForm }) }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/edit_event.js') }}"></script>
{% endblock %}
