{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center mt-3">
        <div class="auth-card d-flex flex-column gap-1" style="max-width: 900px;">
            <div class="container mt-3">
                <h2>Categories</h2>

                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Created at</th>
                        <th>Updated at</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>{{ category.title }}</td>
                            <td>{{ category.createdAt|date('Y-m-d H:i') }}</td>
                            <td>{{ category.updatedAt|date('Y-m-d H:i') }}</td>
                            <td>
                                <button
                                    class="btn btn-primary btn-sm edit-category-btn"
                                    data-id="{{ category.id }}"
                                    data-title="{{ category.title }}"
                                    data-bs-toggle="modal"
                                    data-bs-target="#editCategoryModal"
                                >
                                    Edit
                                </button>

                                <form
                                    method="post"
                                    action="{{ path('app_category_delete', {'id': category.id}) }}"
                                    style="display:inline;"
                                    onsubmit="return confirm('Delete category?');"
                                >
                                    <input
                                        type="hidden"
                                        name="_token"
                                        value="{{ csrf_token('delete' ~ category.id) }}"
                                    >

                                    <button type="submit" class="btn btn-danger btn-sm">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center gap-2 mt-2 mb-2">
                <button
                    class="btn btn-success"
                    type="button"
                    data-bs-toggle="modal"
                    data-bs-target="#categoryCreateModal"
                >
                    Create new
                </button>
            </div>

            <div class="modal fade" id="categoryCreateModal" tabindex="-1">
                <div class="modal-dialog modal-lg modal-dialog-centered justify-content-center" style="width: 480px; height: 350px;">
                    <div class="modal-content auth-card p-3">
                        <h1 class="h3 mb-1 font-weight-normal">Create new category</h1>
                        {{ form_start(form, {
                            action: path('app_category_new'),
                            attr: {
                                id: 'createCategoryForm'
                            }
                        }) }}
                            {{ form_row(form.title) }}
                        {{ form_end(form) }}

                        <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Cancel
                            </button>
                            <button type="submit" form="createCategoryForm" class="btn btn-success">Create</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editCategoryModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content auth-card p-3">

                        <h4>Edit category</h4>
                        <form id="editCategoryForm" method="post">
                            <input
                                type="hidden"
                                name="_token"
                                value="{{ csrf_token('category_edit') }}"
                            >
                            <div class="mb-3">
                                <label class="form-label">
                                    Change the category name
                                </label>
                                <input
                                    type="text"
                                    id="editCategoryTitle"
                                    name="category[title]"
                                    class="form-control"
                                >
                            </div>
                            <div class="d-flex flex-row justify-content-center align-items-center gap-2">
                                <button
                                    type="button"
                                    class="btn btn-secondary"
                                    data-bs-dismiss="modal"
                                >
                                    Cancel
                                </button>
                                <button
                                    type="submit"
                                    class="btn btn-success"
                                >
                                    Save
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/edit_category.js') }}"></script>
{% endblock %}
