{% extends 'base.html.twig' %}

{% block title %}Admin panel{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center mt-3">
        <div class="auth-card d-flex flex-column gap-1" style="max-width: 850px;">
            <div class="h3 mb-2 font-weight-normal">Users</div>

            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if 'ROLE_ADMIN' in user.roles %}
                                admin
                            {% else %}
                                user
                            {% endif %}
                        </td>
                        <td>
                            {% if user.isBlocked %}
                                <span class="badge bg-danger">Blocked</span>
                            {% else %}
                                <span class="badge bg-success">Active</span>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('app_admin_users_edit', {'id': user.id}) }}" class="btn btn-primary btn-sm">Edit</a>
                            <form method="post"
                                  action="{{ path('app_admin_users_block', {'id': user.id}) }}"
                                  style="display:inline">
                                {% if app.user.id != user.id and 'ROLE_ADMIN' not in user.roles %}
                                    <form method="post"
                                          action="{{ path('app_admin_users_block', {'id': user.id}) }}"
                                          style="display:inline">

                                        <button class="btn btn-warning btn-sm">
                                            {{ user.isBlocked ? 'Unblock' : 'Block' }}
                                        </button>

                                    </form>
                                {% endif %}

                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">No users found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
